### Team-Specific, "Added by Collaborator" .gitignore

# Collaborator added: prelim testing
prelim_test.ipynb

# Collaborator added: raw data
raw_data/
.mental_fatigue/

# Collaborator added: Test Results
TestResults.xml

####

### Standard Development .gitignore

# Python: Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.sqlite3
*.db

# Python: Pytest cache
.pytest_cache/

# Python: Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model weights / artifacts
*.h5
*.pkl
*.joblib
mlruns/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments, Secrets
secrets.env
*.key
*.pem
.env
.env/
.venv/
env/
ENV/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Misc
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# Streamlit cache and logs
.streamlit/

# Ignoring models from Git
models/
