### Team-Specific, "Added by Collaborator" .gitignore

# Collaborator added: prelim testing
prelim_test.ipynb

# Collaborator added: raw data
raw_data/
.mental_fatigue/

# Collaborator added: Test Results
TestResults.xml

####

### Standard Development .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.env/
.env
.envrc

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache and logs
.streamlit/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.bak
*.swp
.DS_Store
