# Python cache & build artifacts
__pycache__/
*.db
*.egg-info/
*.log
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Dev Test Files Not Needed In Production
dummy_sample_eeg.csv
sample_data/
tests/

# Environments, Secrets.env
.DS_Store
*.env

# Git & IDE artifacts
.git
.gitignore
.idea/
.vscode/

# Jupyter Notebooks and Any Documentation
*.ipynb
*.md
docs/
notebooks/
README.md

# Dev dependencies
requirements-dev.txt
