# API Framework
fastapi==0.95.2
pydantic==1.10.7
uvicorn==0.22.0
python-multipart==0.0.6

# API Communication
requests==2.31.0

# Build Tools
setuptools==68.0.0

# CLI/Logs/UX
colorama==0.4.6

# Configuration
python-dotenv==1.0.0

# ML & Data
numpy==1.26.4
pandas==2.3.1
scikit-learn==1.7.0
xgboost==3.0.2
mlflow==2.8.1

# Data & System Utils
protobuf==3.20.3
psutil==7.0.0

# Scientific Computing
scipy==1.15.3

# ML Models
transformers==4.31.0
torch==2.0.1
Pillow==10.0.0
